@font-face{
    font-family: 'robotolight';
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Light-webfont.woff') format('woff'),
         url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: robotolight, arial, serif, sans-serif;
    margin: auto;
    border: 1px solid #336699;
    max-width: 900px;
}


#bloc_page
{
    width: auto;
}

span{
    color: #336699;
}


.title
{
    color: #336699;
}



        /*-------------HEADER---------------*/
header
{
    display: flex;
    width: 100%;
}

#photomii
{
    background-color: #336699;
    width: 35%;
    padding-top: 5%;
    padding-bottom: 4%;
}

#photo
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

#header
{
    width: 65%;
    text-align: justify;
    margin: 5%;
    line-height: 110%;
    color: #336699;
}


h1
{
    font-size: 250%;
}

.underline
{
    text-decoration-color: #336699;
    padding-top: 3%;
    border-bottom: 2px solid;
}

#header h2
{
    font-size: 130%;
}

 
main
{
    display: flex;
    flex-direction: row-reverse;
}
            /*-----------------BLOC GAUCHE -----------------*/
#bloc_gauche
{
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: #336699;
}

.infos
{
    font-size: 90%;
    padding: 2% 15% 5% 10%;
    margin-top: 5%;
    color: white;
}

.moi
{
    font-size: 80%;
    text-align: left;
    padding: 2% 15% 5% 10%;
    margin-top: 5%;
    color: white;
}

#a_propos_de_moi
{
    letter-spacing: 0.1em;
    line-height: 150%;
    flex-grow: 1;
}

#bloc_gauche h3
{
    background-color: white;
    text-align: center;
    padding: 2% 0;
    margin: 0;
    font-size: 120%;
    border-right: 1px solid #336699;
}

ul
{
    list-style: none;
    padding: 0;
}

ul li
{
    padding-bottom: 5%;
}

#loisir_icones
{
    display: flex;
    padding: 8%;
}

.icones
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    margin: auto;

}

            /*-------------- BLOC DROIT--------------*/

#bloc_droit
{
    width: 65%;
    margin:  0 5%;
    color: #336699;
}

#bloc_droit p
{
    font-size: 90%;
}

#bloc_droit h3
{
    font-size: 120%;
    color: black;
    margin-bottom: 2%;
}

#bloc_droit h4
{
    font-size: 100%;
    color: #336699;
}

h3 i,.dot
{
    color: #336699;
    padding-right: 5%;

}

.bloc_formation, .bloc_emploi
{
    display: flex;
}

.date
{
    width: 34%;
    display: flex;
}

.dot
{
    padding: 5% 7% 0 0;
}

.etablissement
{
    width: 64%;
    text-align: justify;
}

#recommandations
{
    display: flex;
    padding-bottom: 5%;
}

.id_reco
{
    width: 50%;
}

#formation, #emploi, #recommandations
{
    border-top: 2px solid #336699;
    padding-top: 4%;
}

h4
{
    margin: 4% 2% 0 2%;
}

h1
{
    color: black;
}

    footer {
        display: flex;
    } 


@media all and (max-width: 700px) {
     body
    {
        width: auto;

    }

    p {
        font-size: 15px;
    }

    header
    {
        width: auto;
        flex-direction: column;
        margin: auto;
        background-color: #336699;
    }
    
     main
    {
        flex-direction: column;
    }

    #mphotomii
    {
        width: auto;

    }

    #photo
    {
        width: 150px;
        height: 150px;
        border: 1px solid white;
        display: inline-block;
        margin-left: 90%;
        margin-right: auto;
        }

    #header
    {
        width: auto;
        margin: 0;
        padding: 2% 0;
        text-align: center;
    }

    #name, h1, h2
    {
        color: white;
    }



    #bloc_droit
    {
    margin: 0 3%;
    width: auto;
    }

    h3
    {
    width: 100%;
    text-align: center;
    }

    #recommandations
    {
    text-align: center;
    }

    #bloc_droit i
    {
    display: none;
    }

/*----------GAUCHE------------*/

    #bloc_gauche
    {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    }

    #bloc_gauche h3
    {
    font-size: 100%;
    border-right: none;
    padding: 2% 0;
    }

    #contact
    {
    width: 100%;
    margin-top: 1%;
    }

    li{
    font-size: 16px; 
    }

    #a_propos_de_moi
    {
    width: 80%;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 1%;
    }

    .infos
    {
    padding: 0 5%;
    margin: 0;
    }
    
    #loisir
    {
    width: 100%;
    }

    #loisir_icones
    {
    padding: 1em;
    }

    }